@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Spartan;
}
:root {
    --bg-body: hsl(180, 52%, 96%);
}
body {
    background-color: var(--bg-body);
}
.bg-header {
    background-image: url(../../assets/img/bg-header-desktop.svg);
    height: 150px;
    background-size: cover;
}
.iten {
    border-left: 4px solid  hsl(180, 29%, 50%);
}
.desc-top {

}
.company {
    color: hsl(180, 29%, 50%);
    font-weight: 700;
}
.badge {
    background-color: #222;
    font-size: 10px;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
}
.badge-new {
    background-color: hsl(180, 29%, 50%);
}